// Titulos
.fCeleste
    color celeste

.logoTitleGold
    display flex
    justify-content center
    align-items center
    flex-direction column
    text-align center
    width 100%
    h1
    h2
        text-align right
        display flex
        width 100%
        flex-direction column
        margin 0px 0px 15px 0px
        max-width 660px
        span
            color blanco
            goldtext ()
            font-family ubuntu
            text-transform uppercase
            margin -37px 0px 0px 0px
            letter-spacing 3px
            font-size 39px
    h3
        color blanco
        font-family zcool
        font-size 50px
        margin 0px 0px 23px 0px
    p
        tam ()
        padding 0px 10px 0px 10px
        color blanco
        font-size 35px
    +below(992px)
        h1
        h2
            max-width 500px
            span
                font-size 30px
                margin -30px 0px 0px 0px
        h3
            font-size 40px
        p
            font-size 30px
    +below(767px)
        h1
        h2
            max-width 400px
            span
                font-size 25px
                margin -20px 0px 0px 0px
                letter-spacing 2px
        h3
            font-size 30px
        p
            font-size 23px
    +below(550px)
        h1
        h2
            max-width 280px
            span
                font-size 20px
                margin -15px 0px 0px 0px
                letter-spacing 0px
        h3
            margin 0px 0px 15px 0px
        p
            font-size 20px


.logoTitleGoldWhite
    display flex
    justify-content center
    align-items center
    flex-direction column
    text-align center
    width 100%
    h3
        color blanco
        font-family zcool
        font-size 50px
        margin 0px 0px 23px 0px
    h1
    h2
        text-align right
        display flex
        width 100%
        flex-direction column
        margin 0px 0px 15px 0px
        max-width 660px
        span
            color blanco
            font-family ubuntu
            margin -37px 0px 0px 0px
            letter-spacing 2px
            font-size 39px
    +below(992px)
        h1
        h2
            max-width 500px
            span
                font-size 25px
                margin -30px 0px 0px 0px
        h3
            font-size 40px
            margin 0px 0px 10px 0px
        p
            font-size 25px
    +below(767px)
        h1
        h2
            max-width 400px
            span
                font-size 20px
                margin -20px 0px 0px 0px
                letter-spacing 2px
        h3
            font-size 30px
            margin 0px 0px 10px 0px
        p
            font-size 20px
    +below(550px)
        h1
        h2
            max-width 280px
            span
                font-size 18px
                margin -15px 0px 0px 0px
                letter-spacing 0px
        h3
            margin 0px 0px 4px 0px
        p
            font-size 18px


.logoTitleCeleste
    display flex
    justify-content center
    align-items center
    flex-direction column
    text-align center
    width 100%
    h3
        color negro
        font-size 50px
    h2
    h1
        img
            max-width 500px
    +below(992px)
        h3
            font-size 32px
    +below(992px)
        h3
            font-size 30px


// Titulos Precio
.precioTituloCeleste
    text-align center
    padding 0px 20px 0px 20px
    h3
        color naranja
        font-size 60px
        font-family zcool
        margin 0px 0px 20px 0px
    h4
        color celeste
        font-family ubuntu
        font-size 35px
        margin 0px 0px 30px 0px
    .precio
        border 3px solid celeste
        bloque ()
        font-family ubuntu
        padding 5px 13px 5px 13px
        color naranja
        font-weight bold
        font-size 30px
    +below(767px)
        h3
            font-size 45px
        h4
            font-size 28px
        .precio
            font-size 33px
    +below(500px)
        h3
            font-size 40px
            margin 0px 0px 10px 0px
        h4
            font-size 22px
            margin 0px 0px 10px 0px
        .precio
            font-size 30px


.precioTituloGold
    text-align center
    padding 0px 20px 0px 20px
    h3
        color blanco
        font-size 60px
        font-family zcool
        margin 0px 0px 20px 0px
    h4
        goldtext ()
        font-family ubuntu
        font-size 35px
        margin 0px 0px 30px 0px
        font-weight bold
    .precio
        border 3px solid celeste
        bloque ()
        font-family ubuntu
        padding 5px 13px 5px 13px
        color blanco
        font-weight bold
        font-size 30px
        border-image url('../img/textures/gold-3.jpg') 30 round
    +below(767px)
        h3
            font-size 45px
        h4
            font-size 28px
        .precio
            font-size 22px
    +below(500px)
        h3
            font-size 32px
            margin 0px 0px 10px 0px
        h4
            font-size 22px
            margin 0px 0px 10px 0px



.tagPrice
    tam ()
    text-align center
    margin 20px 0px 0px 0px
    .tagPriceBox
        bloque ()
        background naranja
        p
            font-family ubuntu
            font-size 45px
            padding 10px 30px 10px 30px
            goldtext ()
            margin 0px
            font-weight bold
    +below(992px)
        .tagPriceBox
            p
                font-size 30px
    +below(767px)
        .tagPriceBox
            p
                font-size 25px
    +below(600px)
        .tagPriceBox
            p
                font-size 22px
                padding 10px 10px 10px 10px


.moduleTituloTwo
    width 100%
    display flex
    justify-content center
    align-items center
    margin-bottom 20px
    .txt
        float left
        width calc( 100% - 475px )
    figure
        float left
        width 475px
        text-align center
        img
            max-width 285px
    +below(992px)
        flex-direction column-reverse
        .txt
        figure
            width 100%
            margin 0px 0px 20px 0px
            img
                max-width 200px
    +below(767px)
        margin-bottom 0px
        

.moduleTituloTwoMini
    figure
        img
            max-width 220px
    +below(767px)
        figure
            img
                max-width 120px



// X titulo
.xTituloGold
.xTituloCeleste
    text-align left !important
    font-size 30px !important
    font-family ubuntu !important
    font-weight bold !important
    margin 0px 0px 25px 0px !important
    padding  0px 0px 0px 40px !important
    &:before
        content 'X'
        font-family zcool
        font-size 45px
        position absolute
        top -10px
        left 0px
        color naranja !important
        -webkit-background-clip none
        background none
        -webkit-text-fill-color naranja
    +below(767px)
        font-size 25px !important
    +below(550px)
        font-size 20px !important
        margin 0px 0px 15px 0px !important
        &:before
            top -7px
    +below(450px)
        font-size 17px !important

.xTituloGold
    goldtext ()

.xTituloCeleste
    color celeste !important


// Textos
.goldTxt
    goldtext ()

.campTxt
    h1
    h2
    h3
    h4
    h5
    h6
        color naranja
        font-family zcool
        tam ()
        font-size 50px
        margin 0px 0px 35px 0px
        text-align center
    p
        font-size 20px
        font-family ubuntu
        margin 0px 0px 15px 0px
    ul
        margin 0px
        padding 0px
        list-style none
        li
            position relative
            padding 13px 0px 13px 65px
            margin 0px 0px 0px 0px
            &:before
                content ''
                width 51px
                height 51px
                position absolute
                top 0px
                left 0px
                bottom 0px
                margin-top auto
                margin-bottom auto
                background url('../img/retina/ico_list.png') center no-repeat
                background-size 100% 100%
            p
                margin 0px
    +below(992px)
        h1
        h2
        h3
        h4
        h5
        h6
            font-size 40px
        p
            font-size 17px
        ul
            li
                padding 13px 0px 13px 60px
                &:before
                    width 45px
                    height 45px
    +below(767px)
        h1
        h2
        h3
        h4
        h5
        h6
            font-size 35px
        p
            font-size 16px
        ul
            li
                padding 10px 0px 10px 50px
                &:before
                    width 38px
                    bottom auto
                    top 15px
                    height 38px
    +below(600px)
        h1
        h2
        h3
        h4
        h5
        h6
            font-size 30px
            margin 0px 0px 24px 0px
    +below(450px)
        h1
        h2
        h3
        h4
        h5
        h6
            font-size 27px
            margin 0px 0px 18px 0px
        p
            font-size 16px
    +below(450px)
        h1
        h2
        h3
        h4
        h5
        h6
            font-size 22px
        p
            font-size 15px



.campTxtWhite
    p
        color blanco
    ul
        li
            &:before
                background url('../img/retina/ico_list_white.png') center no-repeat
                background-size 100% 100%
.campTxtCeleste
    h1
    h2
    h3
    h4
    h5
    h6
        color celeste
    ul
        li
            &:before
                background url('../img/ico_list_celeste.png') center no-repeat
                background-size 100% 100%




// Colores fonts
.fnaranja
    color naranja
.fceleste
    color celeste
.fmostasa
    color mostasa


// Background
.bcTexture
.bwTexture
.bndTexture
.bnTexture
    background celeste
    position relative
    &:before
        content ''
        top 0px
        left 0px
        width 100%
        position absolute
        opacity .08
        height 100%
        z-index 1
        background url('../img/texture_white_lottus.png') center repeat
    .container
        position relative
        z-index 2
    +below(767px)
        &:before
            background url('../img/texture_white_lottus.png') center repeat
            background-size 350px

.bwTexture
    background blanco
    &:before
        background url('../img/texture_gold_lottus.png') center repeat
    +below(767px)
        &:before
            background url('../img/texture_gold_lottus.png') center repeat
            background-size 350px

.bnTexture
    background naranja
    &:before
        opacity .08
        background url('../img/texture_white_lottus.png') center repeat
    +below(767px)
        &:before
            background url('../img/texture_white_lottus.png') center repeat
            background-size 350px

.bndTexture
    background: rgb(213,77,12);
    background: -moz-linear-gradient(top, rgba(213,77,12,1) 1%, rgba(233,110,41,1) 45%, rgba(233,110,41,1) 55%, rgba(213,77,12,1) 100%);
    background: -webkit-linear-gradient(top, rgba(213,77,12,1) 1%,rgba(233,110,41,1) 45%,rgba(233,110,41,1) 55%,rgba(213,77,12,1) 100%);
    background: linear-gradient(to bottom, rgba(213,77,12,1) 1%,rgba(233,110,41,1) 45%,rgba(233,110,41,1) 55%,rgba(213,77,12,1) 100%);


// Bloques Derecha e izquierda
.testimonialIzquierda
.testimonialDerecha
    width 100%
    display flex
    justify-content center
    align-items center
    padding 60px 0px 60px 50px
    position relative
    &:before
    &:after
        top 0px
        left 0px
        width 200%
        content ''
        position absolute
        height 100%
        z-index 1
    &:after
        z-index 2
        background url('../img/texture_white_lottus.png') center repeat
        opacity .08
    figure
        float left
        position relative
        z-index 3
        width 320px
        padding 0px 70px 0px 0px
        &:before
            content ''
            top 0px
            bottom 0px
            margin-top auto
            margin-bottom auto
            right  0px
            position absolute
            width 47px
            height 38px
            z-index 1
            background url('../img/s4_comillas.png') center no-repeat
            background-size 100% 100%
    .txt
        float left
        width calc( 100% - 320px )
        padding 0px 40px 0px 0px
        text-align center
        position relative
        z-index 3
        p
            color blanco
            font-size 29px
            line-height 1.2
            font-style italic
            margin 0px 0px 30px 0px
            strong
                font-family zcool
                font-style normal
                font-size 35.53px
            &:last-child
                margin 0px
    +below(1380px)
        .txt
            p
                font-size 28px
    +below(1280px)
        .txt
            p
                font-size 26px
    +below(1100px)
        .txt
            p
                font-size 24px

.testimonialDerecha
    +below(767px)
        padding 30px 0px 30px 0px
        flex-direction column-reverse
        &:before
        &:after
            left 50%
            transform translateX(-50%)
        .txt
            width 100%
            padding 0px
            p
                font-size 20px
                strong
                    font-size 25px
        figure
            width 100%
            padding 70px 0px 20px 0px
            max-width 250px
            &:before
                content ''
                top 5px
                bottom auto
                right 0px
                left 0px
                margin-left auto
                margin-top 0px
                margin-bottom 0px
                margin-right auto
    +below(600px)
        .txt
            p
                font-size 17px
                strong
                    font-size 22px

.testimonialIzquierda3
    flex-wrap wrap
    .txt
        width 100%
        margin 40px 0px 0px 0px
    &:before
    &:after
        left 50% !important
        right auto !important
        transform translateX(-50%) !important
    +below(767px)
        .txt
            margin 0px 0px 0px 0px


.testimonialDerecha2
    display flex
    justify-content center
    align-items center
    width 100%
    position relative
    padding 80px 0px 60px 0px
    flex-wrap wrap
    &:before
    &:after
        top 0px
        left 0px
        width 200%
        content ''
        position absolute
        height 100%
        z-index 1
    &:after
        z-index 2
        background url('../img/texture_white_lottus.png') center repeat
        opacity .08
    figure
    .txt
        float left
        width 50%
        z-index 3
    figure
        img
            width 130%
            margin-left -30%
    .txt
        text-align center
        padding 0px 0px 0px 30px
        p
            color blanco
            font-style italic
            font-size 26px
            font-weight bold
    h3
        color mostasa
        font-size 31px
        z-index 3
        text-align center
        margin 40px 0px 0px 0px
    +below(1370px)
        padding 60px 0px 60px 0px
        .txt
            p
                font-size 24px
    +below(1100px)
        padding 40px 0px 40px 0px
        .txt
            p
                font-size 22px
        h3
            font-size 38px
            margin 30px 0px 0px 0px
            text-align left
    +below(992px)
        padding 30px 0px 30px 0px
        figure
            img
                width 100%
                margin-left 0px
        .txt
            p
                font-size 20px
        h3
            font-size 36px
            margin 20px 0px 0px 0px
    +below(767px)
        padding 20px 0px 20px 0px
        &:before
        &:after
            left 50%
            right auto
            transform translateX(-50%)
        figure
            width 100%
            img
                width 100%
                margin-left 0px
        .txt
            width 100%
            padding 0px
            text-align left
            padding 20px 0px 0px 0px
            p
                font-size 17px
        h3
            font-size 22px
            margin 0px 0px 10px 0px
    +below(500px)
        figure
            width calc( 100% + 30px )
            margin-left -15px


.testimonialNaranja
    &:before
        background naranja

.testimonialCeleste
    &:before
        background celeste

.testimonialIzquierda
    padding 60px 50px 60px 0px
    &:before
    &:after
        left auto
        right 0px
    figure
        padding 0px 0px 0px 70px
        &:before
            right auto
            left 0px
    .txt
        padding 0px 0px 0px 40px
    +below(767px)
        padding 30px 0px 30px 0px
        flex-direction column
        &:before
        &:after
            left 50%
            transform translateX(-50%)
        .txt
            width 100%
            padding 0px
            p
                font-size 20px
                strong
                    font-size 27px
        figure
            width 100%
            padding 70px 0px 20px 0px
            max-width 250px
            &:before
                content ''
                top 5px
                bottom auto
                right 0px
                left 0px
                margin-left auto
                margin-top 0px
                margin-bottom 0px
                margin-right auto
    +below(600px)
        .txt
            p
                font-size 17px
                strong
                    font-size 22.7px

// Tablas
.tablePrice
    tam ()
    list-style none
    margin 0px
    padding 0px
    border 4px solid
    border-image url('../img/textures/gold-3.jpg') 30 round
    li
        width 100%
        height auto
        display flex
        .txt
            width 70%
            float left
            padding 20px 30px 20px 30px
            display flex
            justify-content start
            align-items center
            p
                color blanco
                font-size 30px
                font-weight bold
                margin 0px
        .price
            float left
            width 30%
            display flex
            justify-content center
            align-items center
            border-left 4px solid

            border-image url('../img/textures/gold-3.jpg') 30 round
            p
                font-size 30px
                margin 0px
                font-weight bold
                color blanco
    .itemNaranja
        background naranja
    +below(992px)
        li
            .txt
                p
                    font-size 20px
            .price
                p
                    font-size 24px
    +below(767px)
        li
            .txt
                width 60%
                padding 10px 15px 10px 15px
                p
                    font-size 18px
            .price
                width 40%
                p
                    font-size 20px
    +below(500px)
        border 2px solid
        border-image url('../img/textures/gold-3.jpg') 30 round
        li
            .txt
                p
                    font-size 16px
            .price
                border-left 2px solid
                border-image url('../img/textures/gold-3.jpg') 30 round
                p
                    font-size 18px
    +below(450px)
        li
            .txt
                padding 10px 10px 10px 10px
                p
                    font-size 15px
            .price
                border-left 2px solid
                border-image url('../img/textures/gold-3.jpg') 30 round
                p
                    font-size 15px
    +below(400px)
        li
            .txt
                p
                    font-size 14px
            .price
                p
                    font-size 14px
    +below(350px)
        li
            .txt
                p
                    font-size 13px
            .price
                p
                    font-size 13px

.tablePrice2
    display flex
    border 4px solid blanco
    border-top 0px solid blanco
    .tablePrice2Item
        display flex
        width 50%
        flex-direction column
        flex-wrap wrap
        &:last-child
            border-left 3px solid blanco
        .title
            background url('../img/textures/gold-3.jpg')
            padding 10px 20px 10px 20px
            h4
                color negro
                font-family ubuntu
                font-size 40px
                text-transform uppercase
        .titleNaranja
        .titleTransparente
            background naranja
            padding 20px 25px 20px 25px
            h4
                color blanco
                font-family ubuntu
                font-size 40px
        .titleTransparente
            background rgba(0,0,0,.0)
            height 175px

        .txt1
            padding 25px
            flex-direction column
            p
                color blanco
                &:last-child
                    margin 0px
        .txt3
            height 350px
        
        .txt2
            padding 20px
            background naranja
            text-align left !important
            height 470px

        .img
            float left
            width 50%
            height 380px
            padding 40px 20px 40px 20px
            img
                height 300px
                width auto
        .title
        .titleNaranja
        .titleTransparente
        .titleTransparente
        .txt1
        .txt2
        .img
            text-align center
            width 100%
            display flex
            justify-content center
            align-items center
        .txt2
            align-items start
            flex-direction column
            .imgBox
                width 100%
                text-align center
                img
                    max-width 150px
                    opacity .3
    +below(1250px)
        .tablePrice2Item
            .title
                h4
                    font-size 28px
            .img
                height 300px
                padding 40px 20px 40px 20px
                img
                    height 260px 
            .titleNaranja
                height 100px
                h4
                    font-size 30px
            .titleTransparente
                height 150px
                h4
                    font-size 30px
            .txt1
                height 190px
            .txt3
                height 350px
    +below(992px)
        .tablePrice2Item
            .img
                height 300px
                padding 40px 20px 40px 20px
                img
                    height 200px
            .title
                h4
                    font-size 20px
            .titleNaranja
                height 80px
                h4
                    font-size 22px
            .titleTransparente
                height 120px
                h4
                    font-size 22px
            .txt1
                height 190px
            .txt2
                height 530px
                .imgBox
                    margin 30px 0px 0px 0px
                    img
                        max-width 70px
                        opacity .3
            .txt3
                height 330px
    +below(767px)
        .tablePrice2Item
            .img
                height 200px
                padding 40px 20px 40px 20px
                img
                    height 140px
            .title
                h4
                    font-size 24px
            .titleNaranja
                height 80px
                h4
                    font-size 24px
            .titleTransparente
                height 100px
                h4
                    font-size 18px
            .txt1
                height 220px
            .txt2
                height 530px
            .txt3
                height 430px
    +below(580px)
        flex-wrap wrap
        border 0px solid blanco
        .tablePrice2Item
            margin-bottom 25px
            width 100%
            border 2px solid blanco
            border-top 0px solid blanco
            .txt3
                height 250px
            .img
            .title
            .titleNaranja
            .titleTransparente
            .txt1
            .txt2
            .txt3
                height auto
            .txt1
            .txt2
            .txt3
                padding 10px 10px 10px 10px
            .titleNaranja
                padding 10px 10px 10px 10px
            .txt2
                padding 0px 10px 10px 10px
    +below(400px)
        .tablePrice2Item
            .txt3
                height auto


// Botones
.btn1
.btn2
    display flex
    justify-content center
    align-items center
    background naranja
    height 45px
    width auto
    padding 0px 25px 0px 25px
    trancicion ()
    span
        font-size 18px
        font-family ubuntu
        color blanco
        font-weight bold
        trancicion ()
    &:hover
    &:active
    &:focus
        text-decoration none

.btn1Act
    background blanco
    span
        color naranja

.btn2
    height 90px
    background blanco
    text-align center
    border 4px solid naranja
    trancicion ()
    span
        color naranja
        font-size 28px
        trancicion ()
    +below(767px)
        span
            font-size 20px
    +below(600px)
        border 2px solid naranja
        height auto
        padding 10px 15px 10px 15px
        span
            font-size 18px
    +below(450px)
        padding 7px 15px 7px 15px
        span
            font-size 16px
    +below(400px)
        padding 7px 7px 7px 7px
        span
            font-size 14px

.btn2Act
    background naranja
    span
        color blanco