// Colores
negro = #000000
blanco = #ffffff
celeste = #00ced5
naranja = #dd5308
mostasa = #ffeba8

//fuentes
ubuntu = 'Ubuntu', sans-serif
zcool = 'ZCOOL XiaoWei', serif

/*
** Blocks
*/


// Mixin
tam()
    display inline-block
    vertical-align top
    width 100%
    position relative

bloque()
    display inline-block
    vertical-align top
    width auto
    position relative

goldtext()
    background-image url('../img/textures/gold-3.jpg')
    color #ebd5a7
    -webkit-background-clip text
    -webkit-text-fill-color transparent
    
trancicion()
  transition all 300ms ease-out 30ms


// Global
@import "globals.styl"


.secBox
    tam ()


// Body
body
    h1
    h2
    h3
    h4
    h5
    h6
        margin 0px
        font-family zcool
    p
        font-family ubuntu
    img
        tam ()
    a
        font-family ubuntu
    figure
        margin 0px
        tam ()


// Header
.headerBox
    background naranja
    height 62px
    width 100%
    background naranja
    display flex
    justify-content center
    align-items center
    p
        color blanco
        text-align center
        margin-bottom 0px
        font-size 20px
    +below(1000px)
        p
            font-size 18px
    +below(992px)
        height auto
        padding 15px 0px 15px 0px
        p
            font-size 16px
    +below(767px)
        padding 10px 0px 10px 0px
        p
            font-size 15px
    +below(600px)
        p
            font-size 13px

// Secciones
.secBox1
    position relative
    .contAbsolute
        height 100%
        position absolute
        top 0px
        left 50%
        transform translateX(-50%)
        z-index 2
        display flex
        justify-content space-between
        align-items center
        flex-direction column
    +below(992px)
        .contAbsolute
            width 100%
            max-width 100%
            justify-content flex-end


.s1Menu
    bloque ()
    text-align right
    ul
        list-style none
        text-align center
        padding 20px 0px 10px 0px
        display flex
        justify-content center
        align-items center
        li
            bloque ()
            a
                color blanco !important
                font-size 18px
                padding 0px 10px 0px 10px
                bloque ()
    +below(992px)
        position absolute
        z-index 6
        left 0px
        top 0px
        height 100%
        width 100%
        background: rgb(0,163,177);
        background: -moz-linear-gradient(top, rgba(0,163,177,1) 0%, rgba(0,105,131,1) 100%);
        background: -webkit-linear-gradient(top, rgba(0,163,177,1) 0%,rgba(0,105,131,1) 100%);
        background: linear-gradient(to bottom, rgba(0,163,177,1) 0%,rgba(0,105,131,1) 100%);
        display none
        &:before
            content ''
            width 100%
            height 100%
            background url('../img/texture_white_lottus.png') center repeat
            background-size 500px 
            top 0px
            left 0px
            opacity .08
            position absolute
            z-index 1
        ul
            flex-direction column
            position relative
            justify-content center
            align-items center
            z-index 6
            height 100%
            padding 0px 0px 13% 0px
            &:before
                content ''
                width 75px
                height 75px
                position absolute
                bottom 7%
                left 0px
                right 0px
                margin-left auto
                margin-right auto
                background url('../img/ico_list_white.png') center no-repeat
                background-size 100% 100%
            li
                width 100%
                padding 2vh 0px 2vh 0px
                a
                    font-size 35px
    +below(767px)
        ul
            li
                a
                    font-size 30px
    +below(600px)
        ul
            padding 0px 0px 100px 0px
            &:before
                bottom 30px
            li
                padding 13px 0px 13px 0px
                a
                    font-size 24px
    +below(500px)
        ul
            padding 0px 0px 90px 0px
            &:before
                bottom 25px
            li
                padding 9px 0px 9px 0px
                a
                    font-size 22px
    +below(400px)
        ul
            padding 0px 0px 50px 0px
            &:before
                bottom 25px
                width 50px
                height 50px
            li
                padding 7px 0px 7px 0px
                a
                    font-size 20px

.s1Sello
    tam ()
    max-width 200px
    position absolute
    top 70px
    right 0px
    +below(1500px)
        max-width 150px
        right 20%
    +below(1370px)
        max-width 130px
    +below(1100px)
        max-width 100px
    +below(992px)
        right auto
        left 5%
    +below(992px)
        right auto
        left 5%
        top 20px
    +below(600px)
        right auto
        left 3%
        top 10px

.s1Hamburguesa
    width 50px
    position absolute
    top 20px
    right 5%
    height 50px
    display none
    z-index 99
    span
        position absolute
        top 0px
        left 0px
        right 0px
        bottom 0px
        margin auto
        background blanco
        height 4px
        width 40px
        &:before
        &:after
            content ''
            width 100%
            height 100%
            left 0px
            position absolute
            background blanco
        &:before
            top -12px
        &:after
            bottom -12px
    +below(992px)
        display block

.s1HamburguesaAct
    span
        background rgba(0,0,0,.0)
        &:before
            top 0px
            transform rotate(45deg)
        &:after
            bottom 0px
            transform rotate(-45deg)


.s1Titulo
    display flex
    justify-content center
    align-items center
    flex-direction column
    text-align center
    max-width 660px
    padding 0px 0px 30px 0px
    h1
        text-align right
        display flex
        width 100%
        flex-direction column
        margin 0px 0px 5px 0px
        span
            color blanco
            goldtext ()
            font-family ubuntu
            text-transform uppercase
            margin -37px 0px 0px 0px
            letter-spacing 3px
            font-size 42.5px
    p
        tam ()
        padding 0px 10px 0px 10px
        color blanco
        font-size 25px
        //font-weight bold
    .btn1
        margin 12px 0px 0px 0px
    +below(1500px)
        max-width 550px
        h1
            span
                font-size 34px
                margin -28px 0px 0px 0px
        p
            font-size 22px
    +below(1370px)
        .btn1
            span
                font-size 16px
    +below(1100px)
        max-width 480px
        h1
            span
                font-size 29px
        p
            font-size 20px
        .btn1
            span
                font-size 15px
    +below(992px)
        max-width 100%
        h1
            max-width 330px
            span
                font-size 18px
                margin -20px 0px 0px 0px
        p
            max-width 330px
            font-size 16px
        .btn1
            margin 0px
            span
                font-size 12px
    +below(600px)
        padding 0px 0px 20px 0px
        .btn1
            height 35px
    +below(430px)
        .btn1
            height 30px
            padding 0px 15px 0px 15px
    +below(420px)
        .btn1
            span
                font-size 10px
    +below(400px)
        h1
            max-width 280px
            span
                font-size 15px
                margin -15px 0px 0px 0px
        p
            font-size 13px
    +below(350px)
        .btn1
            padding 0px 10px 0px 10px
    +below(330px)
        .btn1
            span
                font-size 9px

.s1Marcas
    background celeste
    display flex
    width 100%
    justify-content center
    align-items center
    height 90px
    +below(767px)
        height auto
        padding 15px 0px 15px 0px


// Seccion 2
.secBox2
    padding 50px 0px 50px 0px
    +below(992px)
        padding 40px 0px 40px 0px
    +below(767px)
        padding 30px 0px 30px 0px
    +below(600px)
        padding 25px 0px 25px 0px
    +below(450px)
        padding 15px 0px 15px 0px


// Seccion 3
.secBox3
    background celeste
    padding 60px 0px 60px 0px
    +below(992px)
        padding 50px 0px 50px 0px
    +below(767px)
        padding 40px 0px 40px 0px
    +below(600px)
        padding 30px 0px 30px 0px
    +below(500px)
        padding 15px 0px 15px 0px

.s3TxtBox1
    display flex
    flex-wrap wrap
    figure
        width 400px
        margin-bottom 20px
    .txt
        float left
        text-align left
        width calc( 100% - 400px )
        padding 0px 0px 0px 30px
        h1
        h2
        h3
            text-align left
            font-size 76px
            margin 0px 0px 15px 0px
    .txt2
        tam ()
        .btn2
            margin 30px 0px 0px 0px
    +below(992px)
        figure
            width 50%
        .txt
            width 50%
            padding 0px 0px 0px 30px
            h1
            h2
            h3
                font-size 55px
    +below(776px)
        figure
        .txt
            width 100%
            margin-bottom 10px
        .txt
            padding 0px
            h1
            h2
            h3
                font-size 46px

// Seccion 4
.secBox4
    padding 80px 0px 80px 0px
    +below(992px)
        padding 60px 0px 60px 0px
    +below(767px)
        padding 40px 0px 40px 0px
    +below(600px)
        padding 30px 0px 30px 0px

.s4Item
    width 100%
    display flex
    justify-content center
    align-items center
    figure
        float left
        width 320px
        padding 0px 0px 0px 70px
        &:before
            content ''
            top 0px
            bottom 0px
            margin-top auto
            margin-bottom auto
            left 0px
            position absolute
            width 47px
            height 38px
            z-index 1
            background url('../img/s4_comillas.png') center no-repeat
            background-size 100% 100%
    .txt
        float left
        width calc( 100% - 320px )
        padding 0px 0px 0px 30px

        p
            color blanco
            font-size 29px
            line-height 1.2
            font-style italic
            margin 0px 0px 30px 0px
            strong
                font-family zcool
                font-style normal
                font-size 35px
            &:last-child
                margin 0px
    +below(850px)
        .txt
            p
                font-size 28px
    +below(767px)
        display flex
        justify-content center
        align-items center
        flex-direction column
        figure
            width 250px
            padding 70px 0px 0px 0px
            &:before
                top 0px
                bottom auto
                left 0px
                right 0px
                margin-left auto
                margin-right auto
        .txt
            width 100%
            text-align center
            padding 25px 0px 0px 0px
            p
                font-size 28px
    +below(600px)
        .txt
            p
                font-size 22px
                strong
                    font-size 27px
            .goldTxt
                margin 0px 0px 10px 0px


// Seccion 5
.secBox5
    padding 60px 0px 40px 0px
    +below(992px)
        padding 40px 0px 40px 0px
    +below(767px)
        padding 30px 0px 20px 0px
    +below(600px)
        padding 20px 0px 10px 0px
    .txt1
        h1
        h2
        h3
        h5
            color celeste
            text-align left
            font-family ubuntu
            font-size 40px
            margin 0px 0px 25px 0px
        +below(992px)
            h1
            h2
            h3
            h4
                font-size 27px
        +below(767px)
            h1
            h2
            h3
            h4
                font-size 20px
    .txt2
        h3
            color celeste
            font-size 60px
            margin-top 20px
        h4
            text-align left
            font-family ubuntu
            font-size 45px
            margin 10px 0px 20px 0px
        .btn2
            margin 0px 0px 30px 0px
        +below(992px)
            h3
                font-size 40px
                margin-top 10px
            h4
                font-size 35px
        +below(767px)
            h3
                font-size 30px
            h4
                font-size 25px
        +below(600px)
            h3
                font-size 27px

.s5Banner
    tam ()
    padding 0px 20% 0px 0px
    z-index 1
    margin 10px 0px 25px 0px
    .container
        display flex
        position absolute
        right 0px
        top 0px
        height 100%
        align-items center 
    +below(1870px)
        padding 0px 15% 0px 0px
    +below(1650px)
        padding 0px 10% 0px 0px
    +below(1400px)
        padding 0px 5% 0px 0px
    +below(1100px)
        padding 0px 10% 0px 0px
    +below(992px)
        padding 0px 0% 0px 0px
        .container
            right 0px
            left 0px
            margin-left auto
            margin-right auto
    +below(767px)
        .container
            right auto
            left auto
            position relative
            background celeste
            max-width 100%
            padding 5% 5% 5% 5%
        

.s5BannerTxt
    width 50%
    display flex
    justify-content center
    flex-direction column
    flex-wrap wrap
    align-items start
    p
        font-size 30px
        color blanco
    h3
        color blanco
        font-size 35px
        margin 20px 0px 0px 0px
        padding 0px 80px 0px 0px
        position relative
        bloque ()
        &:before
            content ''
            top 0px
            bottom 0px
            margin-top auto
            margin-bottom auto
            right 0px
            position absolute
            width 47px
            height 38px
            z-index 1
            background url('../img/s4_comillas.png') center no-repeat
            background-size 100% 100%
    +below(1370px)
        p
            font-size 28px
        h3
            font-size 30px
    +below(1250px)
        p
            font-size 20px
        h3
            font-size 27px
    +below(992px)
        p
            font-size 20px
        h3
            margin 0px 0px 0px 0px
            font-size 25px
            &:before
                width 40px
                height 31px
                background url('../img/s4_comillas.png') center no-repeat
                background-size 100% 100%
     +below(767px)
        width 100%


// Seccion 6
.secBox6
.secBox7
.secBox8
.secBox9
    padding 40px 0px 30px 0px
    +below(992px)
        padding 30px 0px 20px 0px
    +below(767px)
        padding 20px 0px 10px 0px


.secBox9
    +below(767px)
        padding 20px 0px 20px 0px

.s6TxtBox1
    tam ()
    p
        font-size 24px
    .txtBox
        tam ()
        margin 10px 0px 0px 0px
        .txt
            float left
            width calc( 100% - 460px )
            padding 0px 50px 0px 0px

        figure
            float left
            width 460px
    +below(992px)

        p
            font-size 20px
        .txtBox
            .txt
                width 50%
                
            figure
                width 50%
    +below(767px)
        p
            font-size 16px
        .txtBox
            display flex
            flex-direction column-reverse
            .txt
                width 100%
                padding 0px 0px 0px 0px
            figure
                width 100%
                margin 0px 0px 20px 0px
    +below(450px)
        p
            font-size 15px
        .txtBox
            figure
                width calc( 100% + 30px )
                margin-left -15px


.secBox9
    .btn2
        margin 30px 0px 0px 0px


.secBox10
    .container
        position absolute
        top 0px
        left 50%
        transform translateX(-50%)
        padding 60px 0px 0px 0px
        h3
            font-family ubuntu
            font-size 45px
            font-weight bold
            text-align center
    +below(992px)
        .container
            h3
                font-size 35px
    +below(767px)
        .container
            padding 40px 0px 0px 0px
            h3
                font-size 30px

    +below(600px)
        .container
            padding 20px 0px 0px 0px
            h3
                padding 0px 5% 0px 5%
                font-size 27px


.secBox12
    padding 50px 0px 30px 0px
    .campTxt
        h1
        h2
        h3
        h4
            font-family ubuntu
    +below(992px)
        padding 40px 0px 25px 0px
    +below(767px)
        padding 30px 0px 20px 0px
    +below(600px)
        padding 20px 0px 10px 0px


// Seccion 13
.secBox13
    padding 50px 0px 30px 0px
    +below(992px)
        padding 40px 0px 20px 0px
    +below(767px)
        padding 30px 0px 20px 0px
    +below(600px)
        padding 20px 0px 5px 0px

.s13TxtBox1
.s13TxtBox2
    width 100%
    height auto
    display flex
    justify-content center
    align-items center
    margin 30px 0px 0px 0px
    .txt
        float left
        width calc( 100% - 500px )
        padding 0px 30px 0px 0px
        p
            font-size 22px
    figure
        float left
        width 500px
    +below(1100px)
        .txt
            width 50%
        figure
            width 50%
    +below(992px)
        .txt
            p
                font-size 20px
    +below(767px)
        flex-wrap wrap
        margin 5px 0px 0px 0px
        .txt
            width 100%
            p
                font-size 18px
        figure
            width 100%
            margin 0px 0px 25px 0px
    +below(600px)
        .txt
            p
                font-size 16px
    +below(450px)
        .txt
            p
                font-size 15px


.s13TxtBox1
    +below(767px)
        flex-direction column-reverse
        .txt
            padding 0px

.s13TxtBox2
    .txt
        padding 0px 0px 0px 30px
    +below(767px)
        .txt
            padding 0px
        figure
            margin 0px


// Seccion 14
.secBox14
    padding 35px 0px 40px 0px
    .logoTitleCeleste
        margin 0px 0px 20px 0px
    +below(992px)
        padding 30px 0px 30px 0px
    +below(767px)
        padding 20px 0px 20px 0px

.s14TxtBox
    .btn2
        margin 30px 0px 0px 0px


// Seccion 15
.secBox15
    padding 40px 0px 20px 0px
    .logoTitleGold
        h2
            span
                color blanco
    .cover
        z-index 2
        margin 30px 0px 35px 0px
        .container
            position absolute
            bottom 80px
            z-index 3
            left 50%
            transform translateX(-50%)
        .coverTxt
            tam ()
            text-align center
            padding 0px 5% 0px 5%
            h4
                color blanco
                font-family ubuntu
                font-size 48px
                strong
                    goldtext ()
    +below(992px)
        padding 30px 0px 20px 0px
        .cover
            .container
                bottom 40px
            .coverTxt
                h4
                    font-size 30px
    +below(767px)
        padding 20px 0px 10px 0px
        
        .cover
            margin 15px 0px 20px 0px
            .container
                bottom 20px
            .coverTxt
                padding 0px 0% 0px 0%
                h4
                    font-size 20px


// Seccion 16
.secBox16
    padding 30px 0px 15px 0px


// Seccion 17
.secBox17
    padding 30px 0px 40px 0px
    .btn2
        margin 25px 0px 0px 0px
    +below(992px)
        padding 30px 0px 30px 0px
    +below(767px)
        padding 20px 0px 20px 0px
    

// Seccion 18
.secBox18
    padding 0px 0px 30px 0px
    +below(1100px)
        padding 30px 0px 30px 0px
    +below(767px)
        padding 20px 0px 10px 0px


.s18Tag
    tam ()
    text-align center
    .s18TagBox
        bloque ()
        background naranja
        padding 5px 20px 5px 20px
        p
            bloque ()
            margin 0px
            font-family zcool
            goldtext ()
            font-size 45px
    +below(992px)
        .s18TagBox
            p
                font-size 35px
    +below(767px)
        .s18TagBox
            p
                font-size 35px

.s18Titulo
    text-align center
    margin 30px 0px 0px 0px
    h2
    h3
        color celeste
        font-family ubuntu
        font-size 30px
        margin 0px 0px 20px 0px
    h3
        color naranja
        margin 15px 0px 15px 0px
        font-size 35px
    +below(992px)
        h2
            font-size 26px
        h3
            font-size 30px
    +below(767px)
        h2
            font-size 25px
            margin 0px 0px 10px 0px
        h3
            font-size 25px
            margin 0px 0px 0px 0px

        

.s18LatopBox
    display flex
    justify-content center
    align-items center
    width 100%
    margin 25px 0px 30px 0px
    figure
        float left
        width 550px
    .precioTituloCeleste
        float left
        width calc( 100% - 550px )
    +below(992px)
        figure
            display none
        .precioTituloCeleste
            width 100%
            .responsive992
                margin 0px 0px 20px 0px

// Seccion 19
.secBox19
    padding 40px 0px 30px 0px
    +below(992px)
        padding 30px 0px 30px 0px
    +below(767px)
        padding 20px 0px 20px 0px

.s19PhoneBox
    tam ()
    .txt
        float left
        width calc( 100% - 330px )
        .campTxt
            margin 35px 0px 0px 0px
    figure
        float left 
        width 330px
        padding 0px 80px 0px 40px
    +below(767px)
        .txt
            width 100%
            .campTxt
                display flex
                justify-content center
                align-items center
                flex-wrap wrap
                margin 20px 0px 0px 0px
                .txtResp
                    float left
                    width calc( 100% - 120px )
                    padding 0px 25px 0px 0px

                img
                    float left
                    width 120px


// Seccion 20
.secBox20
    padding 45px 0px 50px 0px
    +below(992px)
        padding 40px 0px 40px 0px
    +below(767px)
        padding 30px 0px 20px 0px

.s20Txt
    .btn2
        margin 30px 0px 0px 0px
    +below(767px)
        .btn2
            margin 15px 0px 0px 0px


.secBox21 // Seccion 21
.secBox22 // Seccion 22
.secBox23 // Seccion 23
    padding 40px 0px 40px 0px
    +below(992px)
        padding 40px 0px 40px 0px
    +below(767px)
        padding 30px 0px 10px 0px


// Seccion 23
.secBox23
    .btn2
        margin 20px 0px 0px 0px


// Seccion 24
.secBox24
.secBox25
    padding 40px 0px 40px 0px
    +below(992px)
        padding 40px 0px 40px 0px
    +below(767px)
        padding 30px 0px 10px 0px


// Seccion 26
.secBox26
.secBox27
    padding 40px 0px 40px 0px
    .btn2
        margin 30px 0px 0px 0px
    +below(992px)
        padding 40px 0px 40px 0px
    +below(767px)
        padding 30px 0px 10px 0px

// Seccion 28
.secBox28
    padding 0px 0px 20px 0px
    .campTxt
        h3
            font-family ubuntu
            font-size 30px
            margin 0px 0px 25px 0px
    +below(992px)
        .campTxt
            margin 0px 0px 15px 0px
            h3
                margin 0px 0px 20px 0px
                font-size 30px
    +below(767px)
        .campTxt
            margin 0px 0px 0px 0px
            h3
                margin 0px 0px 15px 0px
                font-size 25px
    +below(600px)
        .campTxt
            h3
                font-size 22px


.s28Tag
    tam ()
    text-align center
    margin 0px 0px 35px 0px
    +below(992px)
        margin 0px 0px 30px 0px
    +below(767px)
        margin 0px 0px 25px 0px

.s28TagBox
    background url('../img/textures/gold-3.jpg')
    bloque ()
    padding 8px 20px 10px 20px
    p
        font-family zcool
        color naranja
        font-size 45px
        margin 0px
        line-height 1
    +below(992px)
        p
            font-size 35px
    +below(600px)
        p
            font-size 33px
    +below(500px)
        p
            font-size 31px

// Seccion 29
.secBox29
    padding 40px 0px 30px 0px
    +below(992px)
        padding 30px 0px 30px 0px
    +below(767px)
        padding 30px 0px 10px 0px

// Seccion 30
.secBox30
    padding 40px 0px 40px 0px
    .btn2
        margin 30px 0px 0px 0px
    +below(992px)
        padding 30px 0px 30px 0px
    +below(767px)
        padding 20px 0px 20px 0px
        .btn2
            margin 20px 0px 0px 0px

// Seccion 31
.secBox31
    background url('../img/retina/s31_background.jpg') center
    background-size cover
    padding 40px 0px 60px 0px
    .campTxt
        margin 25px 0px 0px 0px
    +below(767px)
        background celeste
        padding 0px
        .container
            max-width 100%
            background: rgb(0,163,177);
            background: -moz-linear-gradient(top, rgba(0,163,177,1) 0%, rgba(0,105,131,1) 100%);
            background: -webkit-linear-gradient(top, rgba(0,163,177,1) 0%,rgba(0,105,131,1) 100%);
            background: linear-gradient(to bottom, rgba(0,163,177,1) 0%,rgba(0,105,131,1) 100%);
            position relative
            &:before
                content ''
                top 0px
                left 0px
                width 100%
                position absolute
                height 100%
                opacity 0.08
                z-index 1
                background url('../img/texture_white_lottus.png') center repeat
                background-size 400px


// Seccion 32
.secBox32
    padding 30px 0px 30px 0px
    +below(767px)
        padding 25px 0px 15px 0px


// Seccion 33
.secBox33
    padding 0px 0px 30px 0px
    .campTxt
        text-align center
        h3
        h4
            color celeste
            font-family ubuntu
            font-size 30px
            text-align center
            strong
                color naranja
        h4
            color naranja
            margin 10px 0px 20px 0px
            font-size 35px
        ul
            text-align left
    +below(992px)
        .campTxt
            h3
            h4
                font-size 27px
            h3
                margin 0px 0px 20px 0px
                font-size 30px
    +below(767px)
        padding 0px 0px 10px 0px
        .campTxt
            h3
            h4
                font-size 25px
            h3
                margin 0px 0px 10px 0px
                font-size 27px
            br
                display none

.s33Tag
    tam ()
    text-align center
    margin 0px 0px 35px 0px

.s33TagBox
    background naranja
    bloque ()
    padding 8px 20px 10px 20px
    p
        font-family zcool
        goldtext ()
        font-size 45px
        margin 0px
        line-height 1
    +below(992px)
        p
            font-size 35px
    +below(767px)
        p
            font-size 30px



// Seccion 34
.secBox34
.secBox35
    padding 40px 0px 30px 0px
    +below(992px)
        padding 30px 0px 30px 0px
    +below(767px)
        padding 30px 0px 10px 0px


// Seccion 36
.secBox36
    padding 35px 0px 40px 0px
    .btn2
        margin 30px 0px 0px 0px
    +below(992px)
        padding 30px 0px 30px 0px
    +below(767px)
        padding 25px 0px 20px 0px
        .btn2
            margin 20px 0px 0px 0px

// Seccion 37
.secBox37
    padding 40px 0px 40px 0px
    +below(992px)
        padding 30px 0px 30px 0px
    +below(757px)
        padding 25px 0px 20px 0px

.s37Txt
    .imgBox
        display flex
        justify-content center
        align-items center
        width 100%
        margin 0px 0px 30px 0px
        img
            width 250px
            margin 0px 15px 0px 15px
    +below(992px)
        .imgBox
            img
                width 200px
    +below(767px)
        .imgBox
            margin 0px 0px 25px 0px
            img
                width 150px
    +below(600px)
        .imgBox
            margin 0px 0px 20px 0px
            img
                margin 0px 10px 0px 10px
                width 100px
    +below(500px)
        .imgBox
            img
                margin 0px 5px 0px 5px
                width 90px

.s37Txt2
    tam ()
    margin 30px 0px 30px 0px
    h3
        font-family ubuntu
        goldtext ()
        font-weight bold
        margin 0px 0px 15px 0px
        font-size 45px
    h4
        color blanco
        text-align left
        font-size 35px
        margin 0px 0px 20px 0px
    +below(992px)
        margin 20px 0px 20px 0px
        h4
            font-size 30px
    +below(767px)
        margin 10px 0px 10px 0px
        h3
            font-size 30px
            margin 0px 0px 15px 0px
        h4
            font-size 25px
            margin 0px 0px 10px 0px

.s37Txt3
    tam ()
    .logoTitleGoldWhite
        h2
            span
                text-transform uppercase


// Seccion 38
.secBox38
    padding 80px 0px 50px 0px
    +below(992px)
        padding 60px 0px 40px 0px
    +below(767px)
        padding 40px 0px 30px 0px
    +below(600px)
        padding 20px 0px 20px 0px

.s38Txt
    tam ()
    width 110%
    margin-left -10%
    figure
        float left
        width 580px
    .txt
        float left
        width calc( 100% - 580px )
        padding 0px 0px 0px 35px
        p
            color blanco
            font-size 25.2px
            font-family ubuntu
            font-style italic
    h4
        tam ()
        padding 20px 0px 0px 8%
        color mostasa
        font-size 35px
    +below(1370px)
        width 100%
        margin-left 0px
        figure
            width 480px
        .txt
            width calc( 100% - 480px )
            p
                font-size 23px
    +below(992px)
        figure
            width 100%
        .txt
            width 100%
            padding 25px 0px 0px 0px
            p
                font-size 20px
    +below(767px)
        figure
            width 100%
        .txt
            width 100%
            padding 20px 0px 0px 0px
            p
                font-size 18px
        h4
            text-align left
            font-size 22px
            padding 0px 0px 0px 0%

    +below(767px)
        .txt
            p
                font-size 15.24px

// Seccion 39
.secBox39
    padding 40px 0px 10px 0px
    .campTxt
        margin 0px 0px 30px 0px
        .cover
            margin 0px 0px 20px 0px
    +below(992px)
        padding 30px 0px 10px 0px
    +below(767px)
        padding 20px 0px 0px 0px
        .campTxt
            .cover
                width calc( 100% + 30px )
                margin-left -15px

.s39Titulo
    tam ()
    text-align center
    margin 40px 0px 20px 0px
    h3
        font-size 60px
        color naranja
        font-family zcool
    h4
        font-size 35px
        color celeste
        font-family ubuntu
        margin 10px 0px 0px 0px
    +below(992px)
        margin 30px 0px 20px 0px
        h3
            font-size 45px
        h4
            font-size 30px
    +below(767px)
        margin 25px 0px 20px 0px
        h3
            font-size 35px
        h4
            font-size 25px
    +below(600px)
        h3
            font-size 25px
        h4
            font-size 25px
    +below(400px)
        h3
            font-size 22px
        h4
            font-size 22px

// Seccion 40
.secBox40
    padding 30px 0px 40px 0px
    +below(992px)
        padding 30px 0px 30px 0px
    +below(767px)
        padding 20px 0px 20px 0px

.s40Txt
    tam ()
    h3
        color blanco
        font-family zcool
        font-size 40px
        text-align center
        margin 0px 0px 40px 0px
    +below(992px)
        h3
            font-size 35px
            margin 0px 0px 30px 0px
    +below(767px)
        h3
            font-size 30px
            margin 0px 0px 20px 0px


.s40Txt2
    tam ()
    text-align center
    margin 60px 0px 0px 0px
    h4
        color blanco
        font-family ubuntu
        font-size 40px
    h3
        goldtext ()
        font-size 76px
        margin 20px 0px 20px 0px
    +below(992px)
        margin 40px 0px 0px 0px
        h4
            font-size 35px
        h3
            font-size 50px
            margin 10px 0px 20px 0px
    +below(767px)
        margin 30px 0px 0px 0px
        h4
            font-size 25px
        h3
            font-size 40px
            margin 5px 0px 20px 0px
    +below(600px)
        margin 20px 0px 0px 0px
        h4
            font-size 22px
        h3
            font-size 40px
            margin 5px 0px 20px 0px

.s40Txt3
    tam ()
    ul
        margin 0px
        padding 0px
        list-style none
        li
            tam ()
            margin 0px 0px 0px 0px
            .title
                display flex
                justify-content space-between
                align-items center
                h4
                p
                    goldtext ()
                    font-weight bold
                    font-family ubuntu
                    font-size 40px
                    margin 0px
            .txt
                tam ()
                p
                    color blanco
                    font-size 30px
    +below(992px)
        ul
            li
                .title
                    h4
                    p
                        font-size 32px
                .txt
                    p
                        font-size 25px
    +below(767px)
        ul
            li
                .title
                    width 100%
                    flex-direction column
                    align-items start
                    h4
                    p
                        font-size 28px
                .txt
                    width 100%
                    p
                        font-size 22px
    +below(600px)
        ul
            li
                .title
                    h4
                    p
                        font-size 22px
                .txt
                    p
                        font-size 16px
    +below(450px)
        ul
            li
                .title
                    h4
                    p
                        font-size 20px
                .txt
                    p
                        font-size 15px




// Seccion 41
.secBox41
    padding 60px 0px 60px 0px
    +below(992px)
        padding 40px 0px 40px 0px
    +below(767px)
        padding 20px 0px 20px 0px

.s41Titulo
    tam ()
    text-align center
    h3
        font-size 73px
        margin 0px 0px 25px 0px
    p
        font-size 35px
    .cover
        tam ()
        margin 0px 0px 55px 0px
        img
            max-width 700px
    +below(992px)
        h3
            font-size 45px
            margin 0px 0px 20px 0px
        p
            font-size 30px
        .cover
            margin 0px 0px 40px 0px
    +below(767px)
        h3
            font-size 35px
            margin 0px 0px 15px 0px
        p
            font-size 25px
        .cover
            margin 0px 0px 30px 0px
    +below(500px)
        h3
            font-size 35px
            margin 0px 0px 12px 0px
        p
            font-size 22px
        .cover
            margin 0px 0px 25px 0px
    +below(400px)
        p
            font-size 17px

// Seccion 42
.secBox42
    padding 40px 0px 60px 0px
    +below(992px)
        padding 40px 0px 40px 0px
    +below(767px)
        padding 25px 0px 25px 0px

.s42Title
    tam ()
    text-align center
    h3
        color blanco
        font-size 73px
        goldtext ()
        margin 0px 0px 15px 0px
    p
        font-size 42px
        color blanco
        font-weight bold
        margin-top 10px
    .btn2
        margin 35px 0px 0px 0px
    +below(992px)
        h3
            font-size 45px
        p   
            font-size 30px
    +below(767px)
        h3
            font-size 35px
            br
                display none
        p   
            font-size 25px
    +below(600px)
        h3
            margin 0px 0px 25px 0px
        .tagPrice
            margin-top 0px
        p   
            font-size 20px
            margin 5px 0px 20px 0px
        .btn2
            margin 20px 0px 0px 0px


// Seccion 43
.secBox43
    padding 60px 0px 40px 0px
    overflow hidden
    +below(992px)
        padding 40px 0px 30px 0px
    +below(767px)
        padding 0px 0px 20px 0px


.s43Txt
    tam ()
    margin 40px 0px 20px 0px
    h3
        font-size 50.8px
        color naranja
    h4
        color celeste
        font-family ubuntu
        font-size 35.56px
        margin 0px 0px 10px 0px
    .cover
        padding 25px 0px 25px 0px
    +below(992px)
        margin 30px 0px 20px 0px
        h3
            font-size 40px
        h4
            font-size 32px
    +below(767px)
        margin 20px 0px 20px 0px
        h3
            font-size 30px
            margin 0px 0px 15px 0px
        h4
            font-size 27px
    +below(600px)
        h3
            font-size 25px
        h4
            font-size 22px
            margin 0px 0px 0px 0px
    +below(550px)
        .cover
            width calc( 100% + 30px )
            margin-left -15px


.btnList
    display flex
    justify-content space-between
    margin 0px 0px 35px 0px
    .btn43
        background naranja
        width calc( 50% - 7px )
        float left
        display flex
        padding 20px 20px 20px 20px
        flex-direction column
        text-align center
        h4
            color blanco
            font-family ubuntu
            font-size 34.4px
        p
            margin 10px 0px 0px 0px
            color blanco
            font-size 17px
        &:hover
        &:active
        &:focus
            text-decoration none
            background naranja
    +below(992px)
        .btn43
            h4
                font-size 25px
            p
                font-size 18px
    +below(767px)
        margin 0px 0px 15px 0px
        flex-direction column
        .btn43
            width 100%
            margin 0px 0px 20px 0px
            padding 10px
            h4
                font-size 20px
            p
                font-size 16px
    +below(600px)
        margin 0px 0px 0px 0px
        .btn43
            h4
                font-size 18px
            p
                font-size 16px
    +below(450px)
        .btn43
            h4
                font-size 14px
            p
                font-size 10px
                margin 0px 0px 0px 0px

.s43Txt2
    display inline-block
    padding 0px 0px 0px 0px
    margin 40px 0px 0px 0px
    h3
        color celeste
        font-family ubuntu
        font-size 35px
        margin 0px 0px 20px 0px
    .pMbottom30
        margin-bottom 30px
    +below(992px)
        margin 30px 0px 0px 0px
        h3
            font-size 30px
    +below(767px)
        margin 20px 0px 0px 0px
        h3
            font-size 25px
    +below(600px)
        h3
            font-size 22px


// Seccion 44
.secBox44
    padding 40px 0px 40px 0px
    h3
        font-size 35px
        color blanco
        text-align center
        margin 0px 0px 35px 0px
    .tagPrice
        margin 40px 0px 0px 0px


// Seccion 45
.secBox45
    padding 50px 0px 60px 0px
    +below(992px)
        padding 40px 0px 40px 0px
    +below(767px)
        padding 30px 0px 30px 0px



// Seccion 47
.secBox47
    padding 30px 0px 30px 0px
    +below(992px)
        padding 25px 0px 25px 0px
    +below(767px)
        padding 20px 0px 20px 0px
    +below(600px)
        padding 15px 0px 5px 0px

.s47Txt
    tam ()
    text-align center
    .cover
        margin 0px 0px 25px 0px
        img
            max-width 720px
    h3
        color blanco
        text-align center
        font-size 73.7px
        margin 0px 0px 20px 0px
    p
        color blanco
        font-size 35.54px
        i
            text-decoration underline
    +below(992px)
        h3
            font-size 40px
            margin 0px 0px 20px 0px
        p
            font-size 25px
    +below(767px)
        h3
            font-size 35px
            margin 0px 0px 10px 0px
        p
            font-size 22px
    +below(600px)
        h3
            margin 0px 0px 10px 0px
        p
            font-size 22px
        .cover
            margin 0px 0px 15px 0px



// Seccion 48
.secBox48
    padding 0px 0px 50px 0px
    +below(992px)
        padding 0px 0px 40px 0px
    +below(767px)
        padding 0px 0px 20px 0px
    +below(600px)
        padding 0px 0px 10px 0px

// Seccion 49
.secBox49
    padding 50px 0px 50px 0px
    .s49Txt
        h4
            font-family ubuntu
            font-size 35px
    +below(992px)
        padding 35px 0px 35px 0px
        .s49Txt
            h3
            h4
                font-size 30px
    +below(767px)
        padding 20px 0px 20px 0px
        .s49Txt
            h3
            h4
                font-size 25px
                margin 0px 0px 10px 0px
            h4
                font-size 28px
                margin 15px 0px 20px 0px
    +below(600px)
        .s49Txt
            h3
            h4
                font-size 25px
            h4
                font-size 22px

// Seccion 50
.secBox50
    padding 50px 0px 30px 0px
    .s50Txt
        h3
            goldtext ()
        h4
            color blanco
            font-family ubuntu
            font-size 34px
    +below(992px)
        padding 40px 0px 30px 0px
        .s50Txt
            h4
                font-size 30px
    +below(767px)
        padding 30px 0px 30px 0px
        .s50Txt
            h4
                font-size 26px
    +below(600px)
        padding 20px 0px 20px 0px
        .s50Txt
            h3
                font-size 25px
            h4
                font-size 22px
        

// Seccion 51
.secBox51
    padding 50px 0px 40px 0px
    +below(992px)
        padding 40px 0px 40px 0px
    +below(767px)
        padding 30px 0px 30px 0px
    +below(767px)
        padding 20px 0px 20px 0px

.s51Txt
    width 110%
    margin-left -10%
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
    figure
        width 50%
        float left 
    .txt
        width 50%
        float left
        text-align center
        padding 0px 0px 0px 30px
        p
            color naranja
            font-size 29px
            font-family ubuntu
            font-style italic
            font-weight 500
    h4
        tam ()
        text-align center
        font-size 43px
        color naranja
        padding 30px 0px 0px 0px
    +below(1370px)
        width 100%
        margin-left 0px
        .txt
            p
                font-size 25px
        h4
            font-size 37px
    +below(1270px)
        .txt
            p
                font-size 22px
        h4
            font-size 35px
    +below(992px)
        .txt
            p
                font-size 20px
        h4
            font-size 32px
    +below(800px)
        .txt
            p
                font-size 18px
        h4
            font-size 30px
    +below(767px)
        flex-wrap wrap
        figure
            width 100%
        .txt
            text-align left
            width 100%
            padding 20px 0px 0px 0px
        h4
            padding 0px 0px 0px 0px
            text-align left
            font-size 25px
    +below(600px)
        .txt
            p
                font-size 15px
        h4
            font-size 22px

// Seccion 52
.secBox52
    padding 50px 0px 60px 0px
    +below(992px)
        padding 40px 0px 40px 0px
    +below(767px)
        padding 30px 0px 30px 0px
    +below(600px)
        padding 20px 0px 20px 0px

.s52Txt
    tam ()
    text-align center
    margin 0px 0px 30px 0px
    p
        color blanco
        font-size 50px
        i
            text-decoration underline
    .cover
        margin 0px 0px 20px 0px
        img
            max-width 720px
    +below(992px)
        p
            font-size 30px
    +below(767px)
        margin 0px 0px 20px 0px
        p
            font-size 25px
    +below(600px)
        margin 0px 0px 5px 0px
        p
            font-size 22px


// Seccion 53
.secBox53
    padding 50px 0px 50px 0px
    .btn2
        margin 30px 0px 0px 0px
    +below(992px)
        padding 40px 0px 40px 0px
    +below(767px)
        padding 25px 0px 25px 0px
        .btn2
            margin 15px 0px 0px 0px

// Seccion 54
.secBox54
    padding 50px 0px 50px 0px
    .campTxt
        h3
            goldtext ()
            font-size 76px
    +below(992px)
        padding 40px 0px 40px 0px
        .campTxt
            h3
                font-size 55px
    +below(767px)
        padding 30px 0px 30px 0px
        .campTxt
            h3
                font-size 45px
                margin 0px 0px 20px 0px
    +below(600px)
        padding 20px 0px 20px 0px
        .campTxt
            h3
                font-size 35px
    +below(500px)
        padding 20px 0px 00px 0px

.s54Txt
    tam ()
    ul
        padding 0px
    li
        tam ()
        text-align center
        border-bottom 4px dotted white
        margin 25px 0px 35px 0px
        &:last-child
            border 0px solid white
        figure
            tam ()
            max-width 105px
            margin 0px 0px 30px 0px
        .txt
            tam ()
            h3
                color blanco
                font-size 30px
                font-family ubuntu
                margin 0px 0px 15px 0px
            p
                font-size 25px
                color blanco
                font-weight normal
                font-family ubuntu
    +below(992px)
        li
            .txt
                h3
                    font-size 26px
                p
                    font-size 22px
    +below(767px)
        li
            .txt
                h3
                    font-size 22px
                p
                    font-size 20px
    +below(600px)
        li
            margin 15px 0px 25px 0px
            figure
                margin 0px 0px 15px 0px
            .txt
                h3
                    font-size 20px
                p
                    font-size 16px

// Seccion 55
.secBox55
    padding 50px 0px 50px 0px
    +below(992px)
        padding 35px 0px 35px 0px
    +below(767px)
        padding 25px 0px 20px 0px

// Seccion 56
.secBox56
    padding 0px 0px 0px 0px
    overflow hidden
.s56Mbottom50
    margin-bottom 50px
    +below(767px)
        margin-bottom 0px

.s56Txt
    tam ()
    text-align center
    h3
        color naranja
        font-size 55px
        margin 0px 0px 40px 0px
    +below(992px)
        h3
            font-size 45px
            margin 0px 0px 30px 0px
    +below(767px)
        h3
            font-size 35px
            margin 0px 0px 25px 0px
    +below(600px)
        h3
            margin 0px 0px 20px 0px


// secBox57
.secBox57
    // padding 200px 0px 200px 0px
    // background url('../img/s56_foto7.jpg') center top no-repeat
    overflow hidden
    .container
        position absolute
        top 50%
        left 50%
        transform translate(-50%,-50%)
        display block
    +below(767px)
        .container
            bottom 5%
            top auto
            transform translateX(-50%)
            right auto
            left 50%
            width 100%
    +below(550px)
        .container
            bottom 3%

.s57Txt
    float right
    width 60%
    text-align center
    p
        color blanco
        font-size 35px
        font-style italic
    h3
        color mostasa
        font-size 45px
    .imgBox
        tam ()
        text-align center
        margin 0px 0px 25px 0px
        img
            max-width 110px
    +below(1550px)
        p
            font-size 30px
    +below(1370px)
        p
            font-size 27px
        h3
            font-size 40px
        .imgBox
            margin 0px 0px 25px 0px
            img
                max-width 90px
    +below(1270px)
        p
            font-size 24px
        h3
            font-size 37px
        .imgBox
            margin 0px 0px 15px 0px
            img
                max-width 70px
    +below(1100px)
        p
            font-size 20px
        h3
            font-size 35px
        .imgBox
            img
                max-width 60px
    +below(992px)
        p
            font-size 18px
        h3
            font-size 30px
        .imgBox
            img
                max-width 50px
    +below(767px)
        width 100%

        h3
            font-size 25px
        .imgBox
            img
                max-width 45px
    +below(600px)
        width 100%
        p
            font-size 17px
        h3
            font-size 22px
    +below(450px)
        width 100%
        p
            font-size 15px
        h3
            font-size 20px


.s57Txt2
    float left

// secBox59
.secBox59
    overflow hidden
    padding 50px 0px 0px 0px
    +below(767px)
        padding 0px 0px 0px 0px

// secBox60
.secBox60
    padding 0px 0px 0px 0px
    .s57Txt
        p
            font-size 28px
        h3
            font-size 35px
    +below(1370px)
        .s57Txt
            p
                font-size 24px
            h3
                font-size 31px
    +below(1270px)
        .s57Txt
            p
                font-size 22px
            h3
                font-size 27px
    +below(1100px)
        .s57Txt
            p
                font-size 20px
            h3
                font-size 22px
    +below(992px)
        .s57Txt
            p
                font-size 18px
            h3
                font-size 20px
    +below(920px)
        .s57Txt
            p
                font-size 16px
            h3
                font-size 20px


// secBox61
.secBox61
    padding 30px 0px 0px 0px
    overflow hidden
    +below(992px)
        padding 20px 0px 0px 0px
    +below(767px)
        padding 0px 0px 0px 0px

// secBox62
.secBox62
    padding 50px 0px 70px 0px
    .s62Timer
        tam ()
        text-align center
        margin 0px 0px 30px 0px
        .cover
            margin 0px 0px 20px 0px
            img
                max-width 720px
        p
            font-family ubuntu
            color blanco
            font-size 50px
    +below(1270px)
        .s62Timer
            p
                font-size 32px
    +below(1100px)
        .s62Timer
            p
                font-size 30px
    +below(992px)
        padding 40px 0px 40px 0px
        .s62Timer
            p
                font-size 25px
    +below(600px)
        padding 25px 0px 25px 0px

        .s62Timer
            margin 0px 0px 10px 0px
            p
                font-size 22px


// secBox63
.secBox63
    padding 70px 0px 30px 0px
    .btnList
        .btn43
            display flex
            justify-content center
            align-items center
    +below(992px)
        padding 60px 0px 30px 0px
    +below(767px)
        padding 50px 0px 30px 0px
    +below(600px)
        padding 40px 0px 30px 0px
    +below(500px)
        padding 20px 0px 0px 0px