/*
** Responsive
*/
+below(1499px)
	// Globals
	.container
		max-width 1140px

+below(1366px)
	// Globals
	.fz-24
		font-size 20px !important

//+below(1200px)

//+below(1024px)

+below(991px)
	// Globals
	.container
		max-width 767px
	
	
	// Blocks

+below(767px)
	// Globals
	.container
		max-width 566px

	.fz-24
		font-size 18px !important

+below(576px)
	// Globals
	.fz-24
		font-size 16px !important

//+below(375px)

//+below(340px)


// Covers
.desktop992
	display inline-block
	+below(992px)
		display none

.responsive992
	display none
	+below(992px)
		display inline-block

.desktop767
	display inline-block
	+below(767px)
		display none

.responsive767
	display none
	+below(767px)
		display inline-block